<header>
  <a href="/"><h1 class="site-title">NBA Offseason Fantasy Tool</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem"><a href="/">League Overview</a></li>
      <li class="navitem"><a href="teams">Teams</a></li>
      <li class="navitem"><a href="mock-draft">Mock Draft</a></li>
      <li class="navitem"><a href="make-trades">Make Trades</a></li>
    </ul>
  </nav>
</header>
