<tr>
  <th class="info">{{playername}}</th>
  <th class="info">
    {{#if salary18}}
      ${{salary18}}
    {{else}}
      <button type="button" class="resign-player-button">Re-sign</button>
    {{/if}}
  </th>
</tr>
