
{{> header}}

<main class="team-page">
  <section class="conf">
    <h2 class="table-title">First Round</h2>
    <table class="leauge-table">
      <thead class= "table-header">
      <tr>
        <th>Team</th>
        <th>Pick</th>
      </tr>
      </thead>
      <tbody class="table-body">
      <tr>
        <th>Boston Celtics</th>
        <th>Make Pick</th>
      </tr>
      <tr>
        <th>Los Angeles Lakers</th>
        <th></th>
      </tr>
      <tr>
        <th>Philadelphia 76ers</th>
        <th></th>
      </tr>
      <tr>
        <th>Phoenix Suns</th>
        <th></th>
      </tr>
      <tr>
        <th>Sacramento Kings</th>
        <th></th>
      </tr>
      <tr>
        <th>Orlando Magic</th>
        <th></th>
      </tr>
      <tr>
        <th>Minnesota Timberwolves</th>
        <th></th>
      </tr>
      <tr>
        <th>New York Knicks</th>
        <th></th>
      </tr>
      <tr>
        <th>Dallas Mavericks</th>
        <th></th>
      </tr>
      <tr>
        <th>Sacramento Kings</th>
        <th></th>
      </tr>
      <tr>
        <th>Charlotte Hornets</th>
        <th></th>
      </tr>
      <tr>
        <th>Detroit Pistons</th>
        <th></th>
      </tr>
      <tr>
        <th>Denver Nuggets</th>
        <th></th>
      </tr>
      <tr>
        <th>Miami Heat</th>
        <th></th>
      </tr>
      <tr>
        <th>Portland Trail Blazers</th>
        <th></th>
      </tr>
      <tr>
        <th>Chicago Bulls</th>
        <th></th>
      </tr>
      <tr>
        <th>Milwaukee Bucks</th>
        <th></th>
      </tr>
      <tr>
        <th>Indiana Pacers</th>
        <th></th>
      </tr>
      <tr>
        <th>Atlanta Hawks</th>
        <th></th>
      </tr>
      <tr>
        <th>Portland Trail Blazers</th>
        <th></th>
      </tr>
      <tr>
        <th>Oklahoma City Thunder</th>
        <th></th>
      </tr>
      <tr>
        <th>Brooklyn Nets</th>
        <th></th>
      </tr>
      <tr>
        <th>Toronto Raptors</th>
        <th></th>
      </tr>
      <tr>
        <th>Utah Jazz</th>
        <th></th>
      </tr>
      <tr>
        <th>Orlando Magic</th>
        <th></th>
      </tr>
      <tr>
        <th>Portland Trail Blazers</th>
        <th></th>
      </tr>
      <tr>
        <th>Brooklyn Nets</th>
        <th></th>
      </tr>
      <tr>
        <th>Los Angeles Lakers</th>
        <th></th>
      </tr>
      <tr>
        <th>San Antonio Spurs</th>
        <th></th>
      </tr>
      <tr>
        <th>Utah Jazz</th>
        <th></th>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="conf">
    <h2 class="table-title">Second Round</h2>
    <table class="league-table">
      <thead class = "table-header">
      <tr>
        <th>Team</th>
        <th>Pick</th>
      </tr>
      </thead>
      <tbody class="table-body">
        <tr>
          <th>Atlanta Hawks</th>
          <th></th>
        </tr>
        <tr>
          <th>Phoenix Suns</th>
          <th></th>
        </tr>
        <tr>
          <th>Orlando Magic</th>
          <th></th>
        </tr>
        <tr>
          <th>Sacramento Kings</th>
          <th></th>
        </tr>
        <tr>
          <th>Orlando Magic</th>
          <th></th>
        </tr>
        <tr>
          <th>Philadelphia 76ers</th>
          <th></th>
        </tr>
        <tr>
          <th>Boston Celtics</th>
          <th></th>
        </tr>
        <tr>
          <th>Chicago Bulls</th>
          <th></th>
        </tr>
        <tr>
          <th>Philadelphia 76ers</th>
          <th></th>
        </tr>
        <tr>
          <th>New Orleans Pelicans</th>
          <th></th>
        </tr>
        <tr>
          <th>Charlotte Hornets</th>
          <th></th>
        </tr>
        <tr>
          <th>Utah Jazz</th>
          <th></th>
        </tr>
        <tr>
          <th>Houston Rockets</th>
          <th></th>
        </tr>
        <tr>
          <th>New York Knicks</th>
          <th></th>
        </tr>
        <tr>
          <th>Houston Rockets</th>
          <th></th>
        </tr>
        <tr>
          <th>Philadelphia 76ers</th>
          <th></th>
        </tr>
        <tr>
          <th>Indiana Pacers</th>
          <th></th>
        </tr>
        <tr>
          <th>Milwaukee Bucks</th>
          <th></th>
        </tr>
        <tr>
          <th>Denver Nuggets</th>
          <th></th>
        </tr>
        <tr>
          <th>Philadelphia 76ers</th>
          <th></th>
        </tr>
        <tr>
          <th>Denver Nuggets</th>
          <th></th>
        </tr>
        <tr>
          <th>Washington Wizards</th>
          <th></th>
        </tr>
        <tr>
          <th>Boston Celtics</th>
          <th></th>
        </tr>
        <tr>
          <th>Phoenix Suns</th>
          <th></th>
        </tr>
        <tr>
          <th>Utah Jazz</th>
          <th></th>
        </tr>
        <tr>
          <th>Boston Celtics</th>
          <th></th>
        </tr>
        <tr>
          <th>Brooklyn Nets</th>
          <th></th>
        </tr>
        <tr>
          <th>New York Knicks</th>
          <th></th>
        </tr>
        <tr>
          <th>San Antonio Spurs</th>
          <th></th>
        </tr>
        <tr>
          <th>Atlanta Hawks</th>
          <th></th>
        </tr>
      </tbody>
    </table>
  </section>
</main>
