
{{> header}}

<main class="table-page">
  <section class="table-box">
    <h2 class="table-title">Western Conference</h2>
    <table class="table-style">
      <thead class= "table-header">
      <tr>
        <th>Team</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody class="table-body">
      {{#each wteam}}
        {{>teamTable}}
      {{/each}}
      </tbody>
    </table>
  </section>
  <section class="table-box">
    <h2 class="table-title">Eastern Conference</h2>
    <table class="table-style">
      <thead class = "table-header">
      <tr>
        <th>Team</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody class="table-body">
      {{#each eteam}}
        {{>teamTable}}
      {{/each}}
      </tbody>
    </table>
  </section>
</main>
