<<<<<<< HEAD
{{> header}}

<main class="team-page">
  <section class="conf">
    <h2 class="table-title">Western Conference</h2>
    <table class="leauge-table">
      <thead class= "table-header">
      <tr>
        <th>Team</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody class="table-body">
      {{#each wteam}}
        {{>teamTable}}
      {{/each}}
      </tbody>
    </table>
  </section>
  <section class="conf">
    <h2 class="table-title">Eastern Conference</h2>
    <table class="league-table">
      <thead class = "table-header">
      <tr>
        <th>Team</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody class="table-body">
      {{#each eteam}}
        {{>teamTable}}
      {{/each}}
      </tbody>
    </table>
  </section>
</main>
=======
{{> header}}

<main class="team-page">
  <section class="conf">
    <h2 class="table-title">Western Conference</h2>
    <table class="leauge-table">
      <thead class= "table-header">
      <tr>
        <th>Team</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody class="table-body">
      <tr>
        <th>Portland Trail Blazers</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Golden State Warriors</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Utah Jazz</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>L.A. Clippers</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Portland Trail Blazers</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Golden State Warriors</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Utah Jazz</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>L.A. Clippers</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Portland Trail Blazers</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Golden State Warriors</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Utah Jazz</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>L.A. Clippers</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Portland Trail Blazers</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Golden State Warriors</th>
        <th>100,000,000</th>
      </tr>
      <tr>
        <th>Utah Jazz</th>
        <th>100,000,000</th>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="conf">
    <h2 class="table-title">Eastern Conference</h2>
    <table class="league-table">
      <thead class = "table-header">
      <tr>
        <th>Team</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody class="table-body">
        <tr>
          <th>Portland Trail Blazers</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Golden State Warriors</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Utah Jazz</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>L.A. Clippers</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Portland Trail Blazers</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Golden State Warriors</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Utah Jazz</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>L.A. Clippers</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Portland Trail Blazers</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Golden State Warriors</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Utah Jazz</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>L.A. Clippers</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Portland Trail Blazers</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Golden State Warriors</th>
          <th>100,000,000</th>
        </tr>
        <tr>
          <th>Utah Jazz</th>
          <th>100,000,000</th>
        </tr>
      </tbody>
    </table>
  </section>
</main>
>>>>>>> eadb52a71e51bce381faf3dd01f4cac6c4d9227c
