{{> header}}

<main class="team-page">
  <section class="conf">
    <h2 class="table-title">Western Conference</h2>
    <table class="leauge-table">
      <thead class= "table-header">
      <tr>
        <th>Team</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody class="table-body">
      {{#each wteam}}
        {{>teamTable}}
      {{/each}}
      </tbody>
    </table>
  </section>
  <section class="conf">
    <h2 class="table-title">Eastern Conference</h2>
    <table class="league-table">
      <thead class = "table-header">
      <tr>
        <th>Team</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody class="table-body">
      {{#each eteam}}
        {{>teamTable}}
      {{/each}}
      </tbody>
    </table>
  </section>
</main>
